.gallery-page {
    display: flex;
    margin: 20px;
  }
  
  .film-list {
    width: 300px;
    border-right: 1px solid #ccc;
    padding: 10px;
  }
  
  .film-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .film-card:hover {
    background-color: #e9ecef;
  }
  
  .film-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .film-card p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
  }
.gallery {
  flex-grow: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
  